{% extends 'admin_base.html' %}

{% block header %}
  <h1 class="m-0">{% block page_title %}Edit Guest{% endblock %}: {{ guest['name'] }}</h1>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Guest Details</h3>
      </div>
      <!-- /.card-header -->      
      <div class="card-body">

        <form method="post" id="form" >
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" name="name" id="name" value="{{ request.form['name'] or guest['name']  }}" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" name="email" id="email" value="{{ request.form['email'] or guest['email'] }}" required>
          </div>
          <div class="form-group">
            <label for="telephone">Telephone</label>
            <input class="form-control" name="telephone" id="telephone" value="{{ request.form['telephone'] or guest['telephone'] }}" required>
          </div>
          <div class="form-group">
            <label for="address_1">Address Line 1</label>
            <input class="form-control" name="address_1" id="address_1" value="{{ request.form['address_1'] or guest['address_1'] }}" required>
          </div>
          <div class="form-group">
            <label for="address_2">Address Line 2</label>
            <input class="form-control" name="address_2" id="address_2" value="{{ request.form['address_2'] or guest['address_2'] }}">
          </div>
          <div class="form-group">
            <label for="city">Town/City</label>
            <input class="form-control" name="city" id="city" value="{{ request.form['city'] or guest['city'] }}" required>
          </div>
          <div class="form-group">
            <label for="county">County</label>
            <input class="form-control" name="county" id="county" value="{{ request.form['county'] or guest['county'] }}" required>
          </div>
          <div class="form-group">
            <label for="postcode">Postcode</label>
            <input class="form-control" name="postcode" id="postcode" value="{{ request.form['postcode'] or guest['postcode'] }}" required>
          </div>
          <div class="form-group">
            <label for="notes">Notes</label>
            <textarea class="form-control" rows="3" name="guest_notes" id="notes">{{ request.form['guest_notes'] or guest['guest_notes'] }}</textarea>    
          </div>
        </form>

      </div>
      <!-- /.card-body -->   
      <div class="card-footer">
        <button type="submit" form="form" value="Save" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
        
        {% set redirect = request.args.get('redirect') %}
        {% set reservation_id = request.args.get('reservation_id') %}
        <a href="{% if redirect %}{{ redirect }}?reservation_id={{ reservation_id }}{% else %}{{ url_for('guests.index') }}{% endif %}" 
        class="btn btn-default ml-2">Go back</a>

        <form class="float-right" action="{{ url_for('guests.delete', id=guest['id']) }}" method="post">
        <button type="submit" class="btn btn-danger" value="Delete" onclick="return confirm('Are you sure?');">
          <i class="fas fa-trash mr-1"></i> Delete
        </button>
        </form>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>
{% endblock %}