{% extends 'admin_base.html' %}

{% block header %}
  <h1 class="m-0">{% block page_title %}Rooms{% endblock %}</h1>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Room Details</h3>
      </div>
      <!-- /.card-header -->      
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <a class="btn bg-navy mb-4" href="{{ url_for('rooms.create') }}"><i class="fas fa-bed mr-2"></i>Add New Room</a>
          </div>
        </div>
      
        <table class="table table-sm table-bordered table-hover">
          <thead>
            <tr>
              <th>Number</th>
              <th>Room Type</th>
              <th>Last modified</th>
              <th>Action</th>
            </tr>            
          </thead>
          <tbody>
            {% for room in rooms %}
            <tr>
              <th>
                {{ room['room_number'] }}
              </th>
              <td>{{ room['type_name'] }}</td>
              <td>{{ room['modified'].strftime('%Y-%m-%d %H:%M') }} by {{ room['username'] }}</td>
              <td>
                <a class="btn btn-sm btn-primary" href="{{ url_for('rooms.update', id=room['id']) }}">
                <i class="fas fa-sm fa-edit mr-1"></i> Edit</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>  

      </div>
    </div>
    <!-- /.card -->
  </div>
</div>


{% endblock %}