{% extends 'admin_base.html' %}

{% block header %}
  <h1 class="m-0">{% block page_title %}Update Payment{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Item Details</h3>
      </div>
      <!-- /.card-header -->      
      <div class="card-body">
        <form method="post" id="form" >

          <input type="hidden" name="invoice_id" id="invoice_id" value="{{ invoice_id or items['invoice_id']}}">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input class="form-control" name="amount" id="amount" value="{{ request.form['amount'] or items['amount'] }}">
          </div>
        </form>

      </div>
      <!-- /.card-body -->   
      <div class="card-footer">
        <button type="submit" form="form" value="Save" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
        {% set redirect = request.args.get('redirect') %}
        <a href="{% if redirect %}{{ redirect }}{% else %}{{ url_for('invoices.view', id=items['invoice_id'], reservation_id=reservation_id) }}{% endif %}" 
        class="btn btn-default ml-2">Go back</a>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>
{% endblock %}