{% extends 'admin_base.html' %}

{% block header %}
  <h1 class="m-0">{% block page_title %}Add New Room Type{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Room Type Details</h3>
      </div>
      <!-- /.card-header -->      
      <div class="card-body">
        <form method="post" id="form" enctype=multipart/form-data>
          <div class="form-group">
            <label for="type_name">Type Name</label>
            <input class="form-control" name="type_name" id="type_name" value="{{ request.form['type_name'] }}" required>
          </div>
          <div class="form-group">
            <label for="base_price_per_night">Base price per night</label>
            <input class="form-control" name="base_price_per_night" id="base_price_per_night" value="{{ request.form['base_price_per_night'] }}" required>
          </div>
          <div class="form-group">
            <label for="amenities">Amenities</label>
            <input class="form-control" name="amenities" id="amenities" value="{{ request.form['amenities'] }}" required>
          </div>
          <div class="form-group">
            <label for="photo">Photo</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" onchange="show_filename()" name="photo" id="photo" value="{{ request.form['photo'] }}">
                <label id="photo_label" class="custom-file-label" for="photo">Choose photo...</label>
              </div>
              <div id="selected_filename"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="max_occupants">Max. occupants</label>
            <input class="form-control" name="max_occupants" id="max_occupants" value="{{ request.form['max_occupants'] }}" required>  
          </div>
        </form>

      </div>
      <!-- /.card-body -->   
      <div class="card-footer">
        <button type="submit" form="form" value="Save" class="btn btn-primary"><i class="fas fa-save mr-1"></i> Save</button>
      
        <a href="{{ url_for('room_types.index') }}" class="btn btn-default ml-2">Go back</a>
      </div>
    </div>
    <!-- /.card -->
  </div>
</div>

<script>
    function show_filename () {
      var name = document.getElementById('photo');
      var label = document.getElementById('photo_label');
      label.innerHTML = name.files.item(0).name;
    };
</script>
{% endblock %}